* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f1f1;
}

.container {
  width: 350px;
  height: 70vh;
  margin: 0 auto;
  margin-top: 100px;
}

@media only screen and (min-width: 875px) {
  body {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .new-container {
    width: 420px;
    height: 630px;
    margin: 10px 0 0 auto;
    background-image: url("https://www.instagram.com/static/images/homepage/home-phones@2x.png/9364675fb26a.png");
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
  }

  .container {
    margin-left: 30px;
  }

  .third-container {
    flex-basis: 100%;
  }
}

.first-container {
  width: 100%;
  height: 390px;
  border: 1px solid lightgrey;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin-top: 20px;
  box-sizing: border-box;
  padding-bottom: 10px;
  font-family: "Euphoria Script";
  font-size: 3rem;
  font-weight: 2000;
}

.form {
  width: 80%;
  height: 150px;
  display: flex;
  flex-direction: column;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  height: 35px;
  margin-bottom: 7px;
  box-sizing: border-box;
  padding-left: 8px;
  border: 1px solid lightgrey;
  background-color: #f1f1f1;
  border-radius: 4px;
}

input[type="submit"] {
  width: 100%;
  height: 32px;
  margin: 6px 0px 17px 0px;
  border: none;
  background-color: lightskyblue;
  color: white;
  font-size: 0.9rem;
  border-radius: 5px;
}

.or-line {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  width: 110px;
  border-top: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.or {
  margin: 0 20px;
  font-family: sans-serif, "Arial", Helvetica;
  font-size: small;
  font-weight: 550;
  color: grey;
}

.fblogin {
  height: 35px;
  color: rgb(53, 53, 104);
  font-family: "sans-serif", Arial, Helvetica;
  font-size: 0.99rem;
  font-weight: 550;
  box-sizing: border-box;
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fblogin img {
  box-sizing: border-box;
  width: 31px;
}

.forgotpw {
  margin-bottom: 30px;
  color: rgb(53, 53, 104);
  font-family: "sans-serif", Arial, Helvetica;
  font-size: 0.85rem;
}

.second-container {
  width: 100%;
  height: 63px;
  margin: 8px 0;
  padding: 0 0.3px;
  border: 1px solid lightgrey;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 0.9rem;
}

p > a {
  text-decoration: none;
  font-family: "sans-serif", Arial, Helvetica;
  font-weight: 600;
  color: rgb(64, 123, 231);
}

.app {
  margin: 22px;
  text-align: center;
  font-family: "sans-serif", Arial, Helvetica;
  font-size: 0.9rem;
}

.apple-google {
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.apple-google img {
  height: 42px;
  margin: 0 4px;
}

.third-container {
  width: auto;
  height: 100px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav {
  width: 550px;
  height: 45px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

nav a {
  margin: 0 5px;
  text-decoration: none;
  font-family: "sans-serif", Arial, Helvetica;
  font-size: 0.8rem;
  font-weight: lighter;
  color: slategray;
}

footer {
  height: 20px;
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  margin-right: 25px;
  border: none;
  background-color: #f1f1f1;
  color: slategray;
}

.copyright {
  background-color: #f1f1f1;
  color: slategray;
  font-family: "sans-serif", Arial, Helvetica;
  font-size: 0.8rem;
}

.copyright::before {
  content: "©️ ";
}
